@charset "UTF-8"

*{
    padding: 0px;
    margin: 0px;
}


html,  body{
    height: 100vh;
    
    
    
    }

body{
    background-image: url("../imagens/fundo-madeira.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

main{
    position: relative;
    height: 100vh;
    
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
   
  background-image: url("../imagens/frame-iphone.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-width: 2560px;
  min-width: 200px;
 
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 22px;
    height: 470px;
    width: 264px;
    
}

section#social{
    text-align: right;
}



section#social img{
    width: 50px;
    margin: 10px;

    border-radius: 50%;
    box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.601);
box-sizing: border-box;
 

}
 section#social img:hover{
    border: 2px solid rgba(255, 255, 255, 0.529);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.596);
    transition: transform .5s, border .7s;
 }
